#Sunburst {
    position: relative;
    font-family: Sans-serif;
    font-size: 12px;
}
.slice {
    cursor: pointer;
}
.slice .main-arc {
    stroke: #fff;
    stroke-width: .5px;
        fill: none;
}
.slice .hidden-arc {
    fill: none;
    stroke: #000;
}
.slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
}
#BChart {
  position: relative;
  font-family: Sans-serif;
  font-size: 12px;
}

#B_SChart {
  position: relative;
  font-family: Sans-serif;
  font-size: 12px;
}

#main {
  width: auto;
  display: block;
    margin: auto;
}
.axis .domain {
  display: none;
}
div.tooltip {
    color: white;
    position: absolute;
    text-align: center;
    width: 115px;
    height: 35px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgba(0,0,0,.8);
    border: 2px solid black;
    pointer-events: none;
}
#choro_chart{
  position: relative;
  font-family: Sans-serif;
  font-size: 12px;
}

#dropdown {
    position: absolute;
    display: inline-block;

}
h3, h5 {
    margin: 0;
}
#buttons{
  width: 800px;
  margin: 25px auto;
  text-align: center;
}
button{
  background-color: #343a40;
  color: #fff;
  width: 75px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border: 0;
  outline: 0;
  transition: all .2s linear;
  cursor: pointer;
}
botton:hover{
  background-color: #50B98C;
}
.header{
  padding: 60px;
  text-align: center;
  background: #4682b4;
}
#legend {
    padding: 1.5em 0 0 1.5em;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}